<!DOCTYPE html>
<html>
<head>
    <!-- <link rel="shortcut icon" href="#"> -->
    <link rel="stylesheet" type="text/css" href="static/css/main.css">
    <title>Action Recognition</title> 
</head>
<body>

<!-- <p>Click on the "Choose File" button to upload a file:</p>
<input  id="file" type="file" onchange="selectVideo(this);"> -->
<div id="container">
    <div id="video">
        <video autoplay id="video" controls="controls" width="60%" height="60%" loop muted>
            <!-- <p>Your video here</p> -->
            <source id="source" type="video/mp4" src="staging/video/temp_video.mp4">
        </video>
        <br>
        <p>Click on the "Choose File" button to upload a file:</p>
        <form method="POST" action="/predict" id="myForm" enctype="multipart/form-data">

            <label for="model_name">Choose a model type:</label>
            <select id="model_name_dropdown" name="model_name" value="lrcn" onclick="getModelName()" form="myForm">
                <option value="lrcn">LRCN</option>
                <option value="c3d">C3D</option>
            </select>
            <br>
            <br>
            <input id="file" name="file" type="file">
            <br>
            <br>
            <a href="/predict_result">
                <input type="submit"/>
            </a>
        </form>
    </div>

    <div id="table1">
        <div id="nega">
            <img src="static/img/nigga.png" alt="nigga 2 thumbs up" width="200" >
            <p>Author</p>
        </div>
        <p style="color:red;text-decoration: underline;">True label: {{ ground_true }}</p>
        <p>Trust me!!!!!!!!</p>
        <br>
        <table id="result">
            <tr>
                {% for header in heading %}
                <th> {{ header }} </th>
                {% endfor %}
            </tr>

            {% for lb, s in res %}
                <tr>
                    <td> {{ lb }} </td>
                    <td><progress id="file" value="{{ s }}"  max="1"></progress></td>
                </tr>
            {% endfor %}

        </table>
    </div>

    
</div>

</body>
</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>